/*index*/

body {
  font-family: "Arapey", serif;
  font-size: 1.2em;
  background-color: #fae6e5;
}

.imagem-cabecalho img {
  position: relative;
  width: 13%;
  margin: 3% 44%;
}

nav {
  text-align: center;
  margin-bottom: 5em;
  background: #f2bfb4;
  padding: 11px 0;
}

nav li {
  display: inline;
  padding-left: 35px;
}

nav a {
  color: #5b9195;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: #e6826c;
  text-decoration: underline;
  background: #fae6e5;
  padding: 11px;
}

main {
  margin-bottom: 105px;
}

#subtitulo1 h2 {
  color: #d06442;
  font-size: 3em;
  text-align: center;
}

.imagem-banner {
  width: 100%;
  margin: 2.5em 0;
  border-radius: 40px;
}

.circulo-imagem {
  width: 250px;
  height: 250px;
  background-color: rgba(208,100,66,0.7);
  border-radius: 100%;
  position: absolute;
  margin-top: 70px;
  margin-left: 80px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.texto-circulo{
  color: #62453b;
  font-weight: bold;
  font-size: 34px;
}

#subtitulo2 {
  display: inline-block;
  width: 500px;
  position: relative;
  margin-left: 10%;
}

#subtitulo2 h2 {
  color: #d06442;
  font-size: 1.6em;
  padding-bottom: 20px;
  text-align: left;
}

#subtitulo2 img {
  margin-right: 5%;
  float: left;
  border-radius: 100%;
}

#subtitulo2 p {
  text-align: justify;
  vertical-align: top;
  color: #62453b;
  font-weight: bold;
}

#subtitulo3-localizacao {
  display: inline-block;
  float: right;
  width: 500px;
  margin-right: 10%;
}

#subtitulo3-localizacao h2 {
  color: #d06442;
  font-size: 1.6em;
  padding-bottom: 20px;
  text-align: left;
}

#subtitulo3-localizacao img {
  margin-right: 5%;
  margin-left: 1%;
  float: left;
  border-radius: 100%;
}

#subtitulo3-localizacao p {
  text-align: justify;
  color: #62453b;
  font-weight: bold;
  line-height: 1.2em;
}

#subtitulo3-localizacao p a:link {
  text-decoration: none;
  color: #d06442;
}

#subtitulo2 img:hover{
  box-shadow: 0 10px 10px rgba(98,69,59, .3);
  transition: box-shadow .8s ease-in-out;
  transform: scale(1.2);
}

#subtitulo3-localizacao img:hover{
  box-shadow: 0 10px 10px rgba(98,69,59, .3);
  transition: box-shadow .8s ease-in-out;
  transform: scale(1.2);
}

footer {
  background: #62453b;
  text-align: center;
  padding: 40px 0;
}

.copyright {
  color: #f2bfb4;
  font-size: 13px;
  margin: 40px;
}

/*Cardápio*/

#subtitulo1-contato img {
  float: left;
  display: inline-block;
  width: 3%;
  margin-left: 10px;
  margin-right: 5px;
}

#subtitulo1-contato h2 {
  color: #d06442;
  font-size: 1.8em;
  vertical-align: baseline;
}

#cardapio {
  position: center;
  margin: 0 50px;
  padding-bottom: 50px;
}

td:first-child {
  background-color: #f2bfb4;
}

td:nth-child(even) {
  background-color: #ebc5bd;
}

td:last-child{
  background-color: #e3cbc6;
}


#cardapio h1,
.titulo-principal {
  color: #d06442;
  font-size: 1.6em;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
  margin-top: 100px;
}

#cardapio th {
  width: 300px;
  vertical-align: middle;
  padding: 20px;
  font-size: 25px;
  color: #8e3b22;
}

#cardapio td {
  vertical-align: middle;
}

#cardapio td:hover {
  background: #fae6e5;
}

.img-cafe {
  padding: 20px 0 20px 100px;
  vertical-align: middle;
}

.descricao-cafe {
  padding-top: 20px;
  padding-left: 80px;
  color: #62453b;
  font: 20px bolder;
  vertical-align: middle;
}

.icone {
  vertical-align: top;
  width: 25px;
}

.preco-cafe {
  text-align: center;
  vertical-align: middle;
}

#frase-rodape {
  text-align: center;
  background: #f2bfb4;
  color: #62453b;
  padding: 15px;
  margin-top: 3em;
}

/*Contato*/

#formulario .subtitulo-contato,
#formulario form,
#formulario input,
#formulario .submit,
#comentarios {
  margin: 20px 15px;
}

.titulo-contato {
  color: #d06442;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
  text-transform: capitalize;
  display: block;
}

#formulario .subtitulo-contato {
  color: #d06442;
  font-size: 30px;
  font-weight: bold;
}

#formulario form {
  margin-left: 15px;
  color: #62453b;
  font-weight: bold;
}

#formulario input {
  display: block;
  width: 35%;
  height: 30px;
}

#comentarios {
  margin: 20px 15px;
  display: block;
  width: 35%;
  height: 100px;
  color: #62453b;
}

.submit {
  display: block;
  width: 35.48%;
  height: 40px;
  font-family: "Arapey", serif;
  background-color: #f2bfb4;
  font-size: 20px;
}

#formulario img {
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 20%;
  object-fit: fill;
}

/*Local*/

.mapa {
  width: 940px;
  height: 450px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.mapa-conteudo iframe {
  width: 940px;
  height: 450px;
  border: 0;
}
